body{margin:0;padding:0;}
h1{

text-align: center;
width:100%;
margin-top: 20px;

}
h6{
    text-align: center;
}
h1:hover{
    transition:ease-in;
}

.container{
    margin:auto;max-width: 400px;
    border:4px solid black;
    width:40%;
    box-shadow:rgb(90, 89, 89);

}
#display{
    text-align: right;
    height:40px;
    line-height: 60px;
    font-size: 24px;
    padding: 16px 8px;
    border-bottom: black;
}



.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    border-left:1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}
.buttons > div{
border-top: 1px solid #999;
border-right:1px solid #999;

}
.button{
    border-width: 0.5px solid #999;
    line-height:100px;
    text-align:center;
    font-size:25px;
    cursor:pointer;
}
#equal{
    background-color: #55555f;
    color:white;
}
.button:hover{
    background-color: #323232;
    color:white;
    transition: 0.5s ease-in-out;
}
#eq{
    background-color: rgb(160, 12, 173);
}